# General IDE/Editor config
.vscode/

# Build artifacts & compiled files in any subdirectory
**/bin/
**/obj/
**/build/
**/target/

# Operating System files
.DS_Store
Thumbs.db

# C/C++ specific compiled files
*.o
*.a
*.so
*.out
*.exe
*executable

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# Java
*.class
*.jar
*.war
*.ear
log/

# C# (.NET)
*.suo
*.user
*.userosscache
*.sln.docstates
*.dll
*.pdb

